{% extends 'base.html' %}
{% block content %}

    <div class="section"></div>
    <main>

        <div class="section"></div>

        <h5 class="teal-text" style="text-align: center;">¡Regístrate!</h5>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row"
                 style="margin-left: 5%; margin-right: 5%; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <form class="col s12 m12" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="input-field col s12 m12">
                        <select id='account-type' onChange="window.location.href=this.value">
                            {% block default %}
                                <option value="" disabled selected>Elige una opción
                                </option>{% endblock %}
                            <option {% block client %}value="{% url 'account:register_client' %}"
                                    {% endblock %}>Cliente
                            </option>
                            <option {% block established %}value="{% url 'account:register_established' %}"
                                    {% endblock %}>Vendedor fijo
                            </option>
                            <option {% block peddler %}value="{% url 'account:register_peddler' %}"
                                    {% endblock %}>Vendedor ambulante
                            </option>
                        </select>
                        <label for="account-type">Tipo de Usuario</label>
                    </div>

                    {% block body %}
                    {% endblock %}

                </form>
            </div>
        </div>
        <div style="text-align: center;"><a class="grey-text"> ¿Ya tienes una cuenta? </a><a href="{% url 'account:login' %}">Inicia
            sesión</a></div>


        <div class="section"></div>
        <div class="section"></div>
    </main>


{% endblock %}