{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="container " style="height: 100%; width: 100%">
            <script
                    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB2ECHh4w8C_romdoQJxWZ7orqFXYRzLOc&sensor=false">
            </script>
            <script src="../../static/js/mapControl.js">
            </script>

            {% for seller in sellers %}
                {% if seller.is_available %}
                    {% if seller in favorites %}
                        <script>
                            addFavoriteMarker(seller.lt, seller.lng, seller.id)
                        </script>
                    {% else %}
                        <script>
                            addMarker(seller.lt, seller.lng, seller.id)
                        </script>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <div id="googleMap" style="height: 90vh; position: relative; overflow: hidden; width: 100%;"/>
        </div>
    </main>
{% endblock %}